Repository Redot-Engine/redot-engine, pull requests merged in 2025-05, with the labels that each got.

#1021 [4.4] Merge commit godotengine/godot@841596c
  core/io/file_access_compressed.cpp
  misc/scripts/install_vulkan_sdk_macos.sh
  servers/audio/effects/audio_effect_pitch_shift.cpp
Labels: merge:godot

#1022 [4.3] Merge commit godotengine/godot@63c6165
  misc/scripts/install_vulkan_sdk_macos.sh
Labels: merge:godot

#1023 Add Redot as a project feature to protect Redot projects
  core/config/project_settings.cpp
Labels: enhancement, topic:core, cherrypick:4.3, cherrypick:4.4

#1024 [4.3] Add Redot as a project feature to protect Redot projects
  core/config/project_settings.cpp
Labels: enhancement, topic:core, topic:editor

#1025 [4.4] Add Redot as a project feature to protect Redot projects
  core/config/project_settings.cpp
Labels: enhancement, topic:core, topic:editor

#1030 Preallocate vectors with known size
  core/core_bind.cpp
  core/debugger/debugger_marshalls.cpp
  core/doc_data.h
  core/extension/extension_api_dump.cpp
  core/io/json.cpp
  core/object/script_language_extension.h
  core/object/undo_redo.cpp
Labels: enhancement, topic:core, performance, cherrypick:4.3, cherrypick:4.4
