Repository Redot-Engine/redot-engine, pull requests merged in 2025-01, with the labels that each got.

#914 [4.3] Round DDS width/height to next divisor multiple for block compression
  modules/dds/texture_loader_dds.cpp
Labels: enhancement, topic:import, tracked:godot

#148 Add sigmoid(), sigmoid_approx(), sigmoid_affine() and sigmoid_affine_approx() functions
  core/math/math_funcs.h
  core/variant/variant_utility.cpp
  core/variant/variant_utility.h
  doc/classes/@GlobalScope.xml
  tests/core/math/test_math_funcs.h
Labels: enhancement, topic:core

#926 [4.3] CI: Install apt dependencies directly, works around issue with `awalsh128/cache-apt-pkgs-action`
  .github/workflows/static_checks.yml
Labels: enhancement, topic:buildsystem

#928 [4.3] Cherry-picks for the 4.3 (4.3.1) branch - 1st crashes batch
  SConstruct
  core/input/input.cpp
  core/input/input.h
  core/os/spin_lock.h
  core/os/thread.h
  core/string/ustring.cpp
  doc/classes/Input.xml
  drivers/wasapi/audio_driver_wasapi.cpp
  drivers/wasapi/audio_driver_wasapi.h
  editor/plugins/animation_player_editor_plugin.cpp
  editor/plugins/packed_scene_translation_parser_plugin.cpp
  modules/gdscript/gdscript_byte_codegen.cpp
  modules/gdscript/tests/scripts/runtime/errors/division_by_zero.gd
  modules/gdscript/tests/scripts/runtime/errors/division_by_zero.out
  modules/gdscript/tests/scripts/runtime/errors/modulo_by_zero.gd
  modules/gdscript/tests/scripts/runtime/errors/modulo_by_zero.out
  platform/windows/joypad_windows.cpp
  platform/windows/joypad_windows.h
  scene/gui/graph_edit.cpp
  scene/gui/tab_bar.cpp
  tests/core/string/test_string.h
Labels: bug, enhancement, platform:windows, topic:core, topic:gdscript, topic:editor, topic:porting, topic:audio, topic:input, crash, regression, topic:gui, topic:animation, performance

#918 Change the default theme to dark scheme from minimal-theme
  editor/themes/editor_theme_manager.cpp
Labels: enhancement, topic:editor, topic:gui

#932 [4.3] Cherry-picks for the 4.3 (4.3.1) branch - 1st buildsystem bugs batch
  .github/workflows/web_builds.yml
  SConstruct
  drivers/wasapi/audio_driver_wasapi.cpp
  methods.py
  modules/camera/config.py
  modules/openxr/SCsub
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/web/SCsub
  platform/web/emscripten_helpers.py
  platform/web/export/export_plugin.cpp
  platform/web/js/engine/config.js
  platform/windows/crash_handler_windows_signal.cpp
  platform/windows/detect.py
  thirdparty/linuxbsd_headers/alsa/asoundlib.h
  thirdparty/linuxbsd_headers/alsa/patches/freebsd_endian.diff
Labels: bug, platform:web, platform:linuxbsd, platform:windows, topic:buildsystem, topic:editor, topic:porting

#931 [4.3] Cherry-picks for the 4.3 (4.3.1) branch - 1st core bugs batch
  core/io/resource.cpp
  core/io/resource.h
  core/io/resource_format_binary.cpp
  core/io/resource_loader.cpp
  core/object/callable_method_pointer.h
  core/object/ref_counted.h
  core/object/script_language.cpp
  core/object/script_language.h
  core/object/worker_thread_pool.cpp
  core/object/worker_thread_pool.h
  core/string/translation.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/binder_common.h
  core/variant/callable.cpp
  core/variant/variant.cpp
  core/variant/variant.h
  core/variant/variant_construct.cpp
  core/variant/variant_construct.h
  core/variant/variant_internal.h
  core/variant/variant_op.cpp
  core/variant/variant_op.h
  drivers/unix/dir_access_unix.cpp
  drivers/unix/dir_access_unix.h
  drivers/unix/file_access_unix.cpp
  drivers/unix/file_access_unix.h
  editor/debugger/editor_debugger_server.cpp
  editor/plugins/asset_library_editor_plugin.cpp
  main/main.cpp
  modules/raycast/raycast_occlusion_cull.cpp
  modules/raycast/raycast_occlusion_cull.h
  modules/websocket/editor/editor_debugger_server_websocket.cpp
  modules/websocket/emws_peer.cpp
  modules/websocket/wsl_peer.cpp
  platform/web/os_web.cpp
  platform/web/os_web.h
  scene/2d/light_2d.cpp
  scene/2d/physics/rigid_body_2d.cpp
  scene/3d/physics/rigid_body_3d.cpp
  scene/main/http_request.cpp
  scene/main/missing_node.cpp
  scene/main/node.h
  scene/main/viewport.cpp
  scene/main/window.cpp
  scene/resources/gradient_texture.cpp
  scene/resources/gradient_texture.h
  scene/resources/packed_scene.cpp
  scene/resources/resource_format_text.cpp
  tests/core/config/test_project_settings.h
  tests/core/string/test_string.h
  tests/scene/test_packed_scene.h
Labels: bug, enhancement, platform:web, topic:core, topic:rendering, topic:porting, topic:network, topic:shaders, regression, topic:gui, topic:2d, topic:3d

#934 [4.3] Cherry-picks for the 4.3 (4.3.1) branch - 1st performance batch
  core/object/object.h
  doc/classes/@GlobalScope.xml
  doc/classes/Node.xml
  doc/classes/TreeItem.xml
  drivers/gles3/rasterizer_canvas_gles3.cpp
  drivers/gles3/rasterizer_canvas_gles3.h
  drivers/gles3/shaders/canvas.glsl
  drivers/gles3/shaders/sky.glsl
  editor/connections_dialog.cpp
  editor/gui/scene_tree_editor.cpp
  editor/gui/scene_tree_editor.h
  editor/reparent_dialog.cpp
  editor/scene_tree_dock.cpp
  editor/scene_tree_dock.h
  scene/gui/tree.cpp
  scene/gui/tree.h
  scene/main/node.cpp
  scene/main/node.h
  scene/resources/3d/primitive_meshes.cpp
  scene/resources/mesh.cpp
Labels: bug, enhancement, topic:rendering, topic:editor, topic:shaders, performance, topic:3d

#935 [4.3] Cherry-picks for the 4.3 (4.3.1) branch - 1st gdextension bugs batch
  core/extension/gdextension.cpp
  core/io/stream_peer.cpp
  doc/classes/AudioStream.xml
  editor/export/export_template_manager.cpp
  editor/script_create_dialog.cpp
  scene/resources/compositor.cpp
  scene/resources/compositor.h
  servers/audio/audio_stream.cpp
Labels: bug, enhancement, topic:rendering, topic:editor, topic:audio, topic:network, topic:gdextension, topic:codestyle

#943 [4.3] Cherry-picks for the 4.3 (4.3.1) branch - 1st audio bugs batch
  drivers/coreaudio/audio_driver_coreaudio.cpp
  drivers/wasapi/audio_driver_wasapi.cpp
  editor/import/resource_importer_wav.cpp
  modules/interactive_music/audio_stream_interactive.cpp
  platform/web/js/libs/library_godot_audio.js
  scene/resources/audio_stream_wav.cpp
  scene/resources/audio_stream_wav.h
  servers/audio/effects/audio_effect_pitch_shift.cpp
  servers/audio_server.cpp
  servers/audio_server.h
Labels: bug, enhancement, platform:ios, platform:windows, topic:porting, topic:audio, topic:import, topic:codestyle

#946 [4.3] Cherry-picks for the 4.3 (4.3.1) branch - 1st editor bugs batch
  core/core_bind.cpp
  core/extension/gdextension.cpp
  core/input/input.cpp
  core/input/input.h
  core/object/object.cpp
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  doc/classes/String.xml
  doc/classes/StringName.xml
  editor/animation_bezier_editor.cpp
  editor/connections_dialog.cpp
  editor/editor_autoload_settings.cpp
  editor/editor_help.cpp
  editor/editor_help.h
  editor/editor_inspector.cpp
  editor/editor_node.cpp
  editor/editor_node.h
  editor/editor_properties.cpp
  editor/editor_properties.h
  editor/editor_settings_dialog.cpp
  editor/gui/editor_object_selector.cpp
  editor/icons/GuiToggleOffMirrored.svg
  editor/inspector_dock.cpp
  editor/plugins/abstract_polygon_2d_editor.cpp
  editor/plugins/canvas_item_editor_plugin.cpp
  editor/plugins/cast_2d_editor_plugin.cpp
  editor/plugins/collision_shape_2d_editor_plugin.cpp
  editor/plugins/control_editor_plugin.cpp
  editor/plugins/navigation_link_2d_editor_plugin.cpp
  editor/plugins/node_3d_editor_plugin.cpp
  editor/plugins/path_2d_editor_plugin.cpp
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_text_editor.cpp
  editor/plugins/theme_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/project_settings_editor.cpp
  editor/run_instances_dialog.cpp
  editor/scene_tree_dock.cpp
  editor/script_create_dialog.cpp
  editor/shader_globals_editor.cpp
  modules/gdscript/gdscript_editor.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  scene/animation/animation_blend_tree.cpp
  scene/gui/tree.cpp
  scene/main/viewport.cpp
  scene/resources/animation.cpp
  scene/resources/packed_scene.cpp
  scene/resources/visual_shader.cpp
  servers/rendering/rendering_device_binds.cpp
  servers/rendering/shader_preprocessor.cpp
  servers/text_server.cpp
  tests/core/object/test_class_db.h
  tests/core/string/test_string.h
Labels: bug, enhancement, feature proposal, topic:core, platform:macos, topic:editor, topic:porting, usability, regression, topic:2d, topic:animation, topic:3d

#944 [4.3] Cherry-picks for the 4.3 (4.3.1) branch - 1st gui bugs batch
  doc/classes/EditorSpinSlider.xml
  doc/classes/LineEdit.xml
  doc/classes/SpinBox.xml
  doc/classes/TextureProgressBar.xml
  editor/editor_properties.cpp
  editor/gui/editor_spin_slider.cpp
  editor/gui/editor_spin_slider.h
  editor/icons/GuiSpinboxDown.svg
  editor/icons/GuiSpinboxUp.svg
  editor/themes/editor_theme_manager.cpp
  scene/gui/button.cpp
  scene/gui/code_edit.cpp
  scene/gui/code_edit.h
  scene/gui/color_picker.cpp
  scene/gui/color_picker.h
  scene/gui/file_dialog.cpp
  scene/gui/line_edit.cpp
  scene/gui/line_edit.h
  scene/gui/menu_bar.cpp
  scene/gui/option_button.cpp
  scene/gui/popup_menu.cpp
  scene/gui/rich_text_label.cpp
  scene/gui/rich_text_label.h
  scene/gui/spin_box.cpp
  scene/gui/spin_box.h
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/gui/texture_progress_bar.cpp
  scene/gui/tree.cpp
  scene/main/node.cpp
  scene/main/viewport.cpp
  scene/resources/theme.cpp
  scene/resources/theme.h
  scene/theme/default_theme.cpp
  scene/theme/icons/value_down.svg
  scene/theme/icons/value_up.svg
  tests/scene/test_texture_progress_bar.h
  tests/test_main.cpp
Labels: bug, enhancement, topic:editor, usability, topic:input, topic:gui, performance

#950 Change default theme to use config.default_contrast
  editor/themes/editor_theme_manager.cpp
Labels: enhancement, topic:editor, topic:gui

#951 Merge commit godotengine/godot@b15b24b
  .github/actions/godot-cpp-build/action.yml
  .github/workflows/godot_cpp_test.yml
  .github/workflows/linux_builds.yml
  .github/workflows/runner.yml
  core/core_bind.cpp
  core/io/resource_loader.cpp
  core/io/resource_loader.h
  doc/classes/CPUParticles2D.xml
  doc/classes/Cubemap.xml
  doc/classes/EditorSettings.xml
  drivers/gles3/storage/texture_storage.cpp
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  editor/code_editor.cpp
  editor/editor_run.cpp
  editor/editor_run.h
  editor/editor_settings.cpp
  editor/export/editor_export_platform.cpp
  editor/icons/FixedSize.svg
  editor/icons/KeepAspect.svg
  editor/icons/Stretch.svg
  editor/plugins/embedded_process.cpp
  editor/plugins/embedded_process.h
  editor/plugins/game_view_plugin.cpp
  editor/plugins/game_view_plugin.h
  editor/scene_tree_dock.cpp
  editor/window_wrapper.cpp
  editor/window_wrapper.h
  modules/navigation/3d/nav_mesh_queries_3d.cpp
  platform/android/java/editor/src/main/java/org/godotengine/editor/BaseGodotEditor.kt
  platform/android/java/editor/src/main/java/org/godotengine/editor/GodotXRGame.kt
  platform/android/java/lib/src/org/godotengine/godot/Godot.kt
  platform/android/java/lib/src/org/godotengine/godot/GodotActivity.kt
  platform/linuxbsd/wayland/wayland_thread.cpp
  platform/linuxbsd/x11/display_server_x11.cpp
  platform/windows/display_server_windows.cpp
  scene/2d/camera_2d.cpp
  scene/2d/cpu_particles_2d.cpp
  scene/2d/cpu_particles_2d.h
  scene/2d/gpu_particles_2d.cpp
  scene/2d/node_2d.cpp
  scene/3d/gpu_particles_3d.cpp
  scene/gui/code_edit.cpp
  scene/gui/color_picker.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
  scene/gui/texture_progress_bar.cpp
  scene/main/canvas_item.cpp
  scene/main/canvas_item.h
  scene/resources/visual_shader_nodes.cpp
  servers/rendering/renderer_canvas_cull.cpp
  servers/rendering/renderer_canvas_cull.h
  servers/rendering/renderer_canvas_render.h
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.h
  servers/rendering/renderer_rd/storage_rd/texture_storage.cpp
  servers/rendering/renderer_rd/storage_rd/texture_storage.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.h
  tests/scene/test_text_edit.h
  thirdparty/jolt_physics/Jolt/Physics/Collision/Shape/BoxShape.cpp
Labels: merge:godot
