Repository Redot-Engine/redot-engine, pull requests merged in 2025-07, with the labels that each got.

#1045 Fix android plugin prefix compatibility regression
  platform/android/java/lib/src/org/godotengine/godot/plugin/GodotPluginRegistry.java
Labels: bug, platform:android, topic:plugin, regression, cherrypick:4.3, cherrypick:4.4

#1050 Refactored .Net Glue to ship Redot versions of Nuget packages
  modules/mono/build_scripts/build_assemblies.py
  modules/mono/csharp_script.cpp
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Redot.NET.Sdk.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/Sdk.targets
  modules/mono/editor/Godot.NET.Sdk/Godot.NET.Sdk/Sdk/iOSNativeAOT.targets
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Sample/Redot.SourceGenerators.Sample.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/CSharpSourceGeneratorVerifier.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/Redot.SourceGenerators.Tests.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators.Tests/ScriptPathAttributeGeneratorTests.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ClassPartialModifierAnalyzer.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ExtensionMethods.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/GlobalClassAnalyzer.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/MarshalUtils.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Redot.SourceGenerators.csproj
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/Redot.SourceGenerators.props
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertiesGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptPropertyDefValGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Godot.SourceGenerators/ScriptSignalsGenerator.cs
  modules/mono/editor/Godot.NET.Sdk/Redot.NET.Sdk.sln
  modules/mono/editor/GodotTools/GodotTools.BuildLogger/RedotTools.BuildLogger.csproj
  modules/mono/editor/GodotTools/GodotTools.IdeMessaging/RedotTools.IdeMessaging.csproj
  modules/mono/editor/GodotTools/GodotTools.OpenVisualStudio/Program.cs
  modules/mono/editor/GodotTools/GodotTools.OpenVisualStudio/RedotTools.OpenVisualStudio.csproj
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/ProjectGenerator.cs
  modules/mono/editor/GodotTools/GodotTools.ProjectEditor/RedotTools.ProjectEditor.csproj
  modules/mono/editor/GodotTools/GodotTools.Shared/RedotTools.Shared.csproj
  modules/mono/editor/GodotTools/GodotTools/Build/BuildSystem.cs
  modules/mono/editor/GodotTools/GodotTools/Build/MSBuildPanel.cs
  modules/mono/editor/GodotTools/GodotTools/GodotSharpEditor.cs
  modules/mono/editor/GodotTools/GodotTools/RedotTools.csproj
  modules/mono/editor/GodotTools/RedotTools.Core/FileUtils.cs
  modules/mono/editor/GodotTools/RedotTools.Core/ProcessExtensions.cs
  modules/mono/editor/GodotTools/RedotTools.Core/RedotTools.Core.csproj
  modules/mono/editor/GodotTools/RedotTools.Core/StringExtensions.cs
  modules/mono/editor/GodotTools/RedotTools.sln
  modules/mono/glue/GodotSharp/Godot.SourceGenerators.Internal/Redot.SourceGenerators.Internal.csproj
  modules/mono/glue/GodotSharp/GodotPlugins/Main.cs
  modules/mono/glue/GodotSharp/GodotPlugins/PluginLoadContext.cs
  modules/mono/glue/GodotSharp/GodotPlugins/RedotPlugins.csproj
  modules/mono/glue/GodotSharp/GodotSharp/Core/Bridge/ScriptManagerBridge.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotObject.base.cs
  modules/mono/glue/GodotSharp/GodotSharp/Properties/AssemblyInfo.cs
  modules/mono/glue/GodotSharp/GodotSharp/RedotSharp.csproj
  modules/mono/glue/GodotSharp/GodotSharp/RedotSharp.csproj.DotSettings
  modules/mono/glue/GodotSharp/GodotSharpEditor/RedotSharpEditor.csproj
  modules/mono/glue/GodotSharp/GodotSharpEditor/RedotSharpEditor.csproj.DotSettings
  modules/mono/glue/GodotSharp/RedotSharp.sln
  modules/mono/glue/GodotSharp/RedotSharp.sln.DotSettings
  modules/mono/mono_gd/gd_mono.cpp
Labels: bug, enhancement, rebranding, topic:dotnet, cherrypick:4.3, cherrypick:4.4

#1055 [4.4] Pin Vulkan SDK version to 1.4.313.1 for compatibility with Mac 10.3.
  misc/scripts/install_vulkan_sdk_macos.sh
Labels: bug, platform:macos, topic:buildsystem
